.task-section
  .mdl-grid.header-grid
    .mdl-cell.mdl-cell--12-col
      h2 <span class="task-id-head">##{data.task.id}</span> #{data.task.properties.name}
  .mdl-grid
    .mdl-cell.mdl-cell--3-col.task-info
      p.task-info-key Done 
      #task-progress-done.mdl-progress.mdl-js-progress
      p.percent #{data.task.properties.done} %
    .mdl-cell.mdl-cell--3-col.task-info
      p.task-info-key Validated
      #task-progress-valid.mdl-progress.mdl-js-progress
      p.percent #{data.task.properties.validated} %
    .mdl-cell.mdl-cell--3-col
    .mdl-cell.mdl-cell--3-col  
    //.mdl-cell.mdl-cell--3-col.task-info
      p <span class="task-info-key">Creation:</span> #{data.task.properties.formatCreated}
    //.mdl-cell.mdl-cell--3-col.task-info
      p <span class="task-info-key">Last update:</span> #{data.task.properties.formatLastUpdate}
.task-section
  .mdl-grid.header-grid
    .mdl-cell.mdl-cell--12-col
      if params.endDate
        h3 Added data from <small>#{params.startDate}</small> to <small>#{params.endDate}</small>
          button#refresh.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Refresh 
      else
        h3 Added data from <small>#{params.startDate}</small> to now
          button#refresh.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Refresh 
  .mdl-grid
    .mdl-cell.mdl-cell--4-col
      .task-sub-section
        h4 Map
        #overview-map    
    .mdl-cell.mdl-cell--4-col
      .task-sub-section
        h4 Roads 
        p.major-info #{data.highway.nb} road(s) created (#{data.highway.dist} km)
        #highway-map
    .mdl-cell.mdl-cell--4-col
      .task-sub-section  
        h4 Buildings
        p.major-info #{data.buildings.nb} building(s) created
      .task-sub-section
        h4 Landuse
        p.major-info <b>Residential landuse:</b> #{data.landuse.res} km<sup>2</sup> <br> <b>Total landuse:</b> #{data.landuse.total} km<sup>2</sup>
      .task-sub-section
        h4 Waterways 
        p.major-info #{data.waterway.nb} waterway(s) created (#{data.waterway.dist} km)        